html,
body{
   height: 100%;
}
body{
   font-size: 14px;
   line-height: 24px;
   color: $default;
   @extend %dmsans-400;
   display: flex;
   flex-direction: column;
}
/*------------------------------------------------*/
.main{
   flex: 1 1 auto;
}
/*------------------------------------------------*/
.container{
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 15px;
}
/*------------------------------------------------*/
.container-large{
   max-width: 1800px;
   margin: 0 auto;
   padding: 0 15px;
}
/*------------------------------------------------*/
.title{
   font-size: 36px;
   line-height: 48px;
   @extend %dmsans-700;
   color: $title-accent;
   text-align: center;
}
.title-alt{
   font-size: 36px;
   line-height: 42px;
   @extend %dmsans-700;
   color: $title;
   text-align: left;
}
/*------------------------------------------------*/
.gallery-buttons{
   text-align: center;
   &__btn{
      padding: 0;
      border: none;
      background: transparent;
      font-size: 16px;
      @extend %dmsans-700;
      color: $default;
      cursor: pointer;
      transition: all .3s;
   }
   &__btn:hover{
      color: rgb(26, 26, 26);
   }
   &__btn.mixitup-control-active{
      color: rgb(26, 26, 26);
   }
   &__btn + .gallery-buttons__btn{
      margin-left: 24px;
   }
}
/*------------------------------------------------*/
.button{
   color: #fff;
   background-color: $buttons;
   transition: all .3s;
   cursor: pointer;
}
.button:hover{
   background-color: $title;
}
/*------------------------------------------------*/
.pagination{
      display: flex;
   &__list{
      display: flex;
   }
   &__list-item{
      margin-right: 15px;
      .pagination__list-link{
         width: 50px;
         height: 50px;
      }
   }
   &__list-link,
   &__prev,
   &__next{
      display: flex;
      justify-content: center;
      align-items: center;
      color: $title;
      border: 1px solid $buttons;
      transition: all .3s;
      &:hover{
         border: 1px solid $title;
      }
   }
   &__list-link--active{
      background-color: $buttons;
      color: #fff;
   }
   &__prev{
      margin-right: 15px;
   }
   &__prev,
   &__next{
      padding: 0 20px;
   }
}
/*------------------------------------------------*/
.partners.partners--active{
   padding: 90px 0;
}
/*------------------------------------------------*/
.blog-box{
   &__date,
   &__author{
      padding-left: 24px;
      font-size: 12px;
      line-height: 16px;
      @extend %rubik-400;
      color: #222933;
      text-transform: uppercase;
      transition: all .2s;
      position: relative;
      &::before{
         content: "";
         position: absolute;
         width: 16px;
         height: 16px;
         top: 0;
         left: 0;
         background-position: center;
         background-repeat: no-repeat;
      }
   }
   &__author{
      margin-left: 30px;
   }
   &__date::before{
      background-image: url('../images/icons/calendar.svg');
   }
   &__author::before{
      background-image: url('../images/icons/admin.svg');
   }
}
/*------------------------------------------------*/
.box-blog{
   display: inline-flex;
   min-width: 275px;
   padding: 25px 10px 25px 20px;
   background-color: $buttons;
   &__date,
   &__author{
      padding-left: 24px;
      font-size: 12px;
      line-height: 20px;
      @extend %rubik-400;
      text-transform: uppercase;
      position: relative;
      color: #fff;
      transition: all .2s;
      &::before{
         content: "";
         position: absolute;
         width: 16px;
         height: 16px;
         top: 0;
         left: 0;
         background-position: center;
         background-repeat: no-repeat;
      }
   }
   &__date::before{
      background-image: url('../images/icons/calendar-white.svg');
   }
   &__author::before{
      background-image: url('../images/icons/admin-white.svg');
   }
   &__author{
      margin-left: 20px;
   }
}
                     // 900 PX
/*------------------------------------------------*/
@media (max-width: 900px){
   .title,
   .title-alt{
      font-size: 32px;
      line-height: 44px;
   }
}
                     // 1000 PX
/*------------------------------------------------*/
@media (max-width: 1000px){
   .blog-box{
      &__author{
         margin-left: 15px;
      }
   }
}
                     // 700 PX
/*------------------------------------------------*/
@media (max-width: 700px){
   .gallery-buttons{
      &__btn + .gallery-buttons__btn{
         margin-left: 16px;
      }
   }
   .box-blog{
      padding: 15px 5px 15px 10px;
   }
}
                     // 420 PX
/*------------------------------------------------*/
@media (max-width: 420px){
   .title,
   .title-alt{
      font-size: 26px;
      line-height: 32px;
   }
   .gallery-buttons{
      &__btn{
         display: block;
         margin-bottom: 8px;
      }
      &__btn + .gallery-buttons__btn{
         margin-left: 0;
      }
   }
   .box-blog{
      padding: 8px 5px;
      min-width: 100%;
   }
   .pagination{
      &__prev,
      &__next{
         display: none;
      }
   }
}
