                     // 1400 PX
/*------------------------------------------------*/
@media (max-width: 1400px){
   .header{
      .menu{
         padding-left: 0;
      }
   }
}
                     // 1200 PX
/*------------------------------------------------*/
@media (max-width: 1200px){
   .header{
      &__inner{
         flex-wrap: wrap;
         padding: 20px 0;
      }
      .menu{
         order: 1;
         width: 100%;
         margin-top: 25px;
         &__list-item + .menu__list-item{
            margin-left: 60px;
         }
      }
   }
}
                     // 1100 PX
/*------------------------------------------------*/
@media (max-width: 1100px){
   .footer{
      .footer-top{
         padding: 50px 0 40px;
         &__services{
            margin-right: 80px;
         }
         &__contact{
            margin-right: 45px;
         }
      }
   }
}
                     // 900 PX
/*------------------------------------------------*/
@media (max-width: 900px){
   .footer{
      .footer-top{
         flex-wrap: wrap;
         &__services{
            margin-right: 45px;
         }
         &__contact{
            margin-right: auto;
         }
         &__news{
            width: 100%;
            display: flex;
            flex-direction: column;
         }
         &__account{
            margin: 0;
         }
         &__news-subscr{
            margin-bottom: 15px;
         }
      }
   }
}
                     // 700 PX
/*------------------------------------------------*/
@media (max-width: 700px){
   .header{
      &__inner{
         .menu{
            margin-top: 0;
            transition: all .5s;
            transform: translateY(-200%);
            position: absolute;
            left: 0;
            top: 90px;
            z-index: 2;
            &__list{
               flex-direction: column;
            }
            &__list-link{
               display: block;
               text-align: center;
               border-bottom: none;
               padding: 5px 0;
            }
            &__list-item{
               padding: 10px 15px;
            }
            &__list-item + .menu__list-item{
               margin-left: 0;
            }
            &.menu--active{
               transform: translateY(0);
            }
         }
         .user-nav{
            padding-top: 0;
            margin-left: auto;
         }
      }
      &__burger-btn{
         display: block;
         order: 1;
      }
   }
   .footer{
      .footer-top{
         padding: 35px 25px;
      }
      .footer-bottom{
         height: 60px;
         &__nav-item+.footer-bottom__nav-item {
            padding-left: 10px;
            margin-left: 10px;
         }
      }
   }
}
                     // 600 PX
/*------------------------------------------------*/
@media (max-width: 600px){
   .header{
      .menu{
         top: 104px;
      }
      &__inner{
         padding: 10px 0 0;
      }
      .user-nav{
         width: 100%;
         order: 1;
         margin-top: 10px;
         justify-content: right;
         &__heart,
         &__cart{
            padding: 0;
         }
         &__search{
            width: 45px;
            height: 45px;
         }
         &__inner{
            margin: 0 14px;
            width: 170px;
            padding: 10px 30px;
            height: 45px;
         }
         &__inner::before{
            height: 26px;
         }
         &__tel{
            width: 45px;
            height: 45px;
         }
      }
   }
   .footer{
      .footer-top{
         &__services,
         &__contact{
            width: 100%;
         }
         &__news-form{
            width: 100%;
         }
         &__input{
            width: 100%;
         }
         &__title-account,
         &__title-services{
            display: inline-block;
            padding-right: 25px;
            position: relative;
            &::after{
               content: "";
               position: absolute;
               width: 13px;
               height: 15px;
               right: 0;
               top: 3px;
               background-image: url('../images/icons/footer-arrow-down.svg');
            }
         }
         &__title-account.footer-top__title--active::after,
         &__title-services.footer-top__title--active::after{
            background-image: url('../images/icons/footer-arrow.svg');
         }
      }
      .footer-bottom{
         flex-wrap: wrap;
         &__nav{
            width: 100%;
            padding-right: 0;
            justify-content: right;
            margin-top: 10px;
         }
      }
   } 
}
                     // 420 PX
/*------------------------------------------------*/
@media (max-width:420px){
   .header{
      .menu{
         top: 99px;
      }
      .user-nav{
         padding-right: 0;
         justify-content: center;
         &__heart,
         &__cart{
            padding: 0;
         }
         &__search{
            width: 40px;
            height: 40px;
         }
         &__inner{
            margin: 0 10px;
            width: 160px;
            padding: 10px 30px;
            height: 40px;
         }
         &__inner::before{
            height: 24px;
            top: 8px;
         }
         &__tel{
            width: 40px;
            height: 40px;
         }
      }
   }
}