@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

/*------------------------------------------------*/
.header{
   .container-large{
      max-width: 1800px;
      margin: 0 auto;
      padding: 0 15px;
   }
   &__inner{
      padding: 41px 0 46px;
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   &__burger-btn{
      display: none;
      width: 28px;
      height: 24px;
      padding: 0;
      background: transparent;
      border: none;
      position: relative;
      margin-left: 25px;
      &::after,
      &::before{
         content: "";
         position: absolute;
         width: 100%;
         height: 3px;
         background-color: $logo;
      }
      span{
         display: flex;
         align-items: center;
         width: 100%;
         height: 3px;
         background-color: $logo;
      }
      &::after{
         left: 0;
         top: 0;
      }
      &::before{
         left: 0;
         bottom: 0;
      }
   }
}
.menu{
   padding-left: 130px;
   background-color: #fff;
   &__list{
      display: flex;
   }
   &__list-item{
      background-color: #fff;
   }
   &__list-item + .menu__list-item{
      margin-left: 34px;
   }
   &__list-link{
      font-size: 15px;
      line-height: 24px;
      color: $logo;
      @extend %rubik-500;
   }
   &__list-link:hover{
      border-bottom: 1px solid $logo;
   }
}
.user-nav{
   display: flex;
   padding-top: 8px;
   &__search,
   &__tel{
      width: 50px;
      height: 50px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #edf1f4;
      transition: all .3s;
   }
   &__search:hover{
      background-color: #a3bbc8;
   }
   &__inner{
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      width: 180px;
      height: 50px;
      background-color: $accent;
      border-radius: 25px;
      padding: 10px 42px;
      margin: 0 18px;
      position: relative;
   }
   &__inner::before{
      content: "";
      width: 1px;
      height: 30px;
      background-color: #fde7d3;
      position: absolute;
      left: 50%;
      top: center;
   }
   &__heart,
   &__cart{
      position: relative;
      padding-bottom: 3px;
   }
   &__numb{
      position: absolute;
      width: 16px;
      height: 16px;
      background-color: #fff;
      border-radius: 50%;
      font-size: 10px;
      line-height: 16px;
      text-align: center;
      color: $title;
      top: -8px;
      right: -8px;
      transition: all .3s;
   }
   &__heart:hover .user-nav__numb,
   &__cart:hover .user-nav__numb{
      background-color: #a3bbc8;
   }
   &__tel{
      border: none;
      padding: 0;
      background-color: #a3bbc8;
   }
   &__tel:hover{
      background-color: $logo;
   }
}

/*------------------------------------------------*/
.top{
   padding: 30px 15px;
   background-color: #edf1f4;
   text-align: center;
   &__title{
      font-size: 36px;
      line-height: 42px;
      @extend %rubik-300;
      color: #222923;
      margin-bottom: 6px;
   }
}
.breadcrumbs{
   &__list{
      display: inline-flex;
   }
   &__item{
      position: relative;
      padding-right: 20px;
      &:last-child{
         padding: 0;
         color: #222923;
         &::after{
            display: none;
         }
      }
      &::after{
         content: "/";
         font-size: 18px;
         position: absolute;
         top: 0;
         right: 7px;
      }
   }
   &__link{
      font-size: 14px;
      line-height: 24px;
      color: inherit;
      @extend %rubik-400;
   }
}

/*------------------------------------------------*/
.footer a{
   display: inline-block;
   color: $default;
   @extend %rubik-400;
   transition: all .2s;
}
.footer a:hover{
   color: $title;
}
.partners{
   background-color: #fef7f0;
   padding: 265px 0 90px;
   position: relative;
   z-index: -1;
   &__inner{
      display: flex;
      justify-content: space-around;
      align-items: center;
   }
}
.footer-top{
   padding: 80px 0 63px;
   display: flex;
   border-bottom: 1px solid #dae4e9;
   &__title-services,
   &__title-account,
   &__title{
      font-size: 16px;
      line-height: 21px;
      @extend %dmsans-700;
      text-transform: uppercase;
      color: #1f2044;
      margin: 16px 0;
   }
   &__contact{
      width: 195px;
      margin-right: 100px;
   }
   &__address{
      font-style: normal;
      margin-bottom: 10px;
      line-height: 26px;
   }
   &__services{
      width: 130px;
      margin-right: 172px;
   }
   &__account{
      width: 130px;
      margin-right: auto;
   }
   &__news{
      width: 274px;
   }
   &__link{
      margin-bottom: 7px;
   }
   &__news-subscr{
      margin-bottom: 35px;
   }
   &__news-form{
      display: flex;
   }
   &__input{
      padding: 0 8px 0 15px;
      border: none;
      background: #fef7f0;
      font-size: 12px;
   }
   &__input::placeholder{
      color: #234969;
   }
   &__button{
      display: inline-block;
      max-width: 100px;
      width: 100%;
      border: none;
      padding: 0 15px;
      line-height: 38px;
   }
}
.footer-logo{
   display: block;
   margin-bottom: 15px;
}
.footer-bottom{
   height: 86px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   &__nav{
      display: flex;
      padding-right: 5px;
   }
   &__nav-item{
      line-height: 16px;
   }
   &__nav-item + .footer-bottom__nav-item{
      padding-left: 15px;
      margin-left: 15px;
      border-left: 1px solid $default;
   }
}

/*------------------------------------------------*/
.intro-slider{
   background-color: $accent;
   background-image: url('../images/intro-slider-bg.png');
   background-repeat: no-repeat;
   background-position: 90% center;
   &__inner{
      height: 100vh;
   }
   &__item-inner{
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      padding: 215px 0 0;
   }
   &__content{
      width: 500px;
   }
   &__img{
      width: 640px;
      height: 264px;
      object-fit: contain;
   }
   &__title{
      font-size: 72px;
      line-height: 1;
      text-transform: uppercase;
      color: $title;
      @extend %rubik-500;
      margin-bottom: 25px;
   }
   &__text{
      width: 370px;
      font-size: 18px;
      line-height: 30px;
      @extend %rubik-400;
      color: $logo;
      margin-bottom: 35px;
   }
   &__link{
      font-size: 15px;
      @extend %rubik-500;
      display: inline-block;
      padding: 18px 100px 18px 28px;
      position: relative;
   }
   &__link::after{
      content: "";
      width: 22px;
      height: 9px;
      background-image: url('../images/icons/arrow-btn.svg');
      position: absolute;
      right: 16px;
      top: 25px;
   }
   .slick-dots{
      display: flex;
      justify-content: center;
      position: absolute;
      left: 50%;
      right: 50%;
      bottom: 75px;
      li{
         line-height: 0;
         padding: 0 6px;
         button{
            padding: 0;
            border: none;
            width: 28px;
            height: 28px;
            border-radius: 50%;
            background-color: #fde3cc;
            font-size: 11px;
            @extend %rubik-500;
            color: #667983;
         }
         &.slick-active{
            button{
               background-color: #fff;
               color: $title;
            }
         }
      }
   }
}

/*------------------------------------------------*/
.products{
   &__info{
      display: flex;
      background-color: #fef7f0;
   }
   &__info-item{
      flex: 1 1 33.333%;
      padding: 42px 15px 40px;
      display: flex;
      justify-content: center;
      align-items: flex-start;
   }
   &__info-item + .products__info-item{
      border-left: 1px solid #e8e4df;
   }
   &__info-icon{
      padding-top: 5px;
      margin-right: 24px;
   }
   &__info-content{
      width: 220px;
   }
   &__info-title{
      font-size: 18px;
      color: #414141;
      @extend %dmsans-700;
      margin-bottom: 5px;
   }
   &__info-text{
      font-size: 16px;
      line-height: 30px;
      @extend %dmsans-400;
      color: #585858;
   }
   &__gallery{
      padding: 65px 0 70px;
   }
   &__gallery-title{
      margin-bottom: 21px;
   }
   &__gallery-buttons{
      margin-bottom: 75px;
   }
   &__gallery-items{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 40px 30px;
   }
}

/*------------------------------------------------*/
.gallery-item{
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   height: 380px;
   width: 270px;
   padding: 18px 5px 31px;
   text-align: center;
   box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
   position: relative;
   border-radius: 8px;
   &__top{
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      &__img{
         object-fit: cover;
      }
   }
   &__title{
      margin: 32px 0 6px
   }
   &__link{
      display: inline-block;
      font-size: 16px;
      color: $title;
      @extend %dmsans-500;
   }
   &__price{
      font-size: 16px;
      @extend %dmsans-700;
      color: #a3bbc8;
   }
   &__hover{
      display: flex;
      justify-content: center;
      position: absolute;
      top: 160px;
      left: 0;
      right: 0;
   }
   &__hover button{
      border: none;
      padding: 0;
      cursor: pointer;
   }
   &__hover-link{
      width: 44px;
      height: 44px;
      border-radius: 50%;
      margin: 0 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.3);
      opacity: 0;
      transition: all .6s;
      background-color: #fefefe;
      &.gallery-item__hover-link--active{
         background-color: #a3bbc8;
         path{
            fill: #fff;
         }
      } 
   }
   &__hover-link path{
      transition: all .3s;
   }
   &__hover-link:hover path{
      fill: #fff;
   }
   &__hover-link:hover{
      background-color: #a3bbc8;
   }
   &__hover-link:nth-child(1){
      transform: translateX(100%);
   }
   &__hover-link:nth-child(3){
      transform: translateX(-100%);
   }
}
.gallery-item:hover .gallery-item__hover-link{
   transform: none;
   opacity: 1;
}

/*------------------------------------------------*/
.lamps{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: minmax(390px, auto);
   grid-gap: 30px;
   margin-bottom: 30px;
   padding-top: 120px;
   &__item{
      background-color: #feefe2;
      display: flex;
      justify-content: right;
      align-items: center;
      padding: 10px 145px 10px 10px;
      position: relative;
   }
   &__item-image{
      position: absolute;
      left: 135px;
      bottom: 85px;
   }
   &__item-content{
      color: $title;
      max-width: 335px;
   }
   &__item-title{
      font-size: 26px;
      line-height: 32px;
      @extend %dmsans-700;
      margin-bottom: 15px;
   }
   &__item-descr{
      font-size: 16px;
      line-height: 30px;
      @extend %rubik-400;
      margin-bottom: 28px;
   }
   &__item-link{
      font-size: 15px;
      @extend %rubik-500;
      color: $logo;
      display: inline-block;
      padding: 0 18px;
      display: flex;
      justify-content: left;
      align-items: center;
      width: 180px;
      height: 60px;
      border: 1px solid rgb(67, 99, 114, 0.4);
      border-radius: 5px;
      position: relative;
      transition: all .3s;
   }
   &__item-link:hover{
      border: 1px solid rgb(67, 99, 114, 1);
      background-color: rgb(67, 99, 114, 0.1);
   }
   &__item-link::after{
      content: "";
      position: absolute;
      width: 22px;
      height: 9px;
      background-image: url('../images/icons/arrow-btn-blue.svg');
      top: auto;
      right: 18px;
   }
}

/*------------------------------------------------*/
.design{
   padding-top: 64px;
   margin-bottom: 120px;
   &__title{
      margin-bottom: 18px;
   }
   &__gallery-buttons{
      margin-bottom: 75px;
   }
   &__gallery{
      display: grid;
      grid-template-columns: repeat(3, 370px);
      grid-column-gap: 30px;
      grid-row-gap: 35px;
   }
}

/*------------------------------------------------*/   
.design-item{
   height: 246px;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   padding: 38px;
   box-shadow: 0 0 15px rgba(37, 37, 37, 0.2);
   &__title{
      max-width: 175px;
      margin-bottom: 8px;
   }
   &__link{
      font-size: 20px;
      line-height: 1;
      @extend %dmsans-700;
      color: $title-accent;
      transition: all .3s;
   }
   &__link:hover{
      color: $buttons;
   }
   &__category{
      font-size: 16px;
      line-height: 22px;
      @extend %dmsans-700;
      color: $buttons;
      transition: all .3s;
   }
   &__category:hover{
      color: $title;
   }
}

/*------------------------------------------------*/
.design-video{
   height: 500px;
   display: flex;
   justify-content: center;
   align-items: center;
   &__link path,
   &__link circle{
      transition: all .4s;
   }
   &__link:hover path{
      fill: rgba(0, 0, 0, 0.8);
   }
   &__link:hover circle{
      fill-opacity: 0.3;
   }
}

/*------------------------------------------------*/
.insights{
   padding-top: 110px;
   margin-bottom: -170px;
   position: relative;
   z-index: 2;
   &__title.insights__title--contact{
      color: $logo;
   }
   &__items{
      display: flex;
      justify-content: space-between;
   }
   &__top{
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-bottom: 42px;
   }
   &__link{
      font-size: 16px;
      line-height: 30px;
      @extend %dmsans-700;
      color: #262626;
      position: relative;
      padding-right: 25px;
      transition: all .2s;
      border-bottom: 1px solid rgba(38, 38, 38, 0);
      &:hover{
         border-bottom: 1px solid rgba(38, 38, 38, 1);
      }
      &::after{
         content: "";
         width: 6px;
         height: 11px;
         background-image: url('../images/icons/insight-arrow.svg');
         position: absolute;
         right: 0;
         top: 8px;
      }
   }
   &__link.insights__link--contact{
      color: $logo;
      border-bottom: 1px solid rgba(67, 99, 114, 0);
      &:hover{
         border-bottom: 1px solid rgba(67, 99, 114, 1);
      }
      &::after{
         background-image: url('../images/icons/insight-arrow-blue.svg');
      }
   }
   &__item{
      max-width: 370px;
      min-height: 100%;
      display: flex;
      flex-direction: column;
      box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
      background-color: #fff;
   }
   &__item-top{
      position: relative;
      margin-bottom: 33px;
   }
   &__item-image{
      height: 250px;
      object-fit: cover;
   }
   &__item-link{
      font-size: 14px;
      line-height: 30px;
      @extend %poppins-700;
      text-transform: uppercase;
      padding: 0 30px;
      border-radius: 15px;
      position: absolute;
      bottom: -15px;
      left: 27px;
   }
   &__item-descr{
      flex: 1 1 auto;
      padding: 0 45px 5px 30px;
   }
   &__item-descrlink{
      font-size: 18px;
      line-height: 1;
      @extend %dmsans-500;
      color: #262626;
      transition: all .2s;
   }
   &__item-descrlink:hover{
      color: $buttons;
   }
   &__item-footer{
      width: 318px;
      margin: 0 auto;
      display: flex;
      padding: 17px 5px 20px;
      border-top: 1px solid #e0e0e0;
   }
}

/*------------------------------------------------*/
.modal{
   padding: 120px 0;
   max-width: 470px;
   margin: 0 auto;
   &__form{
      margin-bottom: 32px;
   }
   &__label{
      display: block;
      font-size: 14px;
      line-height: 18px;
      @extend %rubik-400;
      color: $logo;
      margin-bottom: 25px;
   }
   &__input{
      display: block;
      width: 100%;
      height: 60px;
      border: 2px solid #f6f6f6;
      padding: 0 10px;
      margin-top: 10px;
   }
   &__button{
      display: block;
      width: 100%;
      text-align: center;
      font-size: 18px;
      line-height: 1;
      @extend %rubik-500;
      border: none;
      padding: 20px 10px;
      margin: 35px 0;
      cursor: pointer;
   }
   &__info{
      display: flex;
      justify-content: space-between;
      padding-bottom: 30px;
      border-bottom: 2px solid #f6f6f6;
   }
   &__input-check{
      @extend %checkbox-hidden;
      &:checked + .modal__remember-checkbox{
         background-image: url('../images/icons/login-check.svg');
         background-position: center;
         background-repeat: no-repeat;
      }
   }
   &__remember{
      padding-left: 28px;
      position: relative;
      cursor: pointer;
   }
   &__remember-checkbox{
      width: 14px;
      height: 14px;
      border-radius: 2px;
      background-color: #ebebeb;
      position: absolute;
      left: 0;
      top: 2px;
   }
   &__remember,
   &__link-lost,
   &__text{
      font-size: 14px;
      line-height: 18px;
      @extend %rubik-400;
      color: $logo;
   }
   &__text{
      text-align: center;
      margin-bottom: 20px;
   }
   &__register{
      display: block;
      width: 100%;
      font-size: 18px;
      line-height: 1;
      text-align: center;
      @extend %rubik-500;
      color: $title;
      border: 2px solid $buttons;
      padding: 20px 10px;
      transition: all .3s;
      &:hover{
         border: 2px solid $title;
      }
   }
}

/*------------------------------------------------*/
.conditions{
   font-size: 16px;
   line-height: 30px;
   @extend %rubik-400;
   color: $title;
   padding-top: 115px;
   &__item{
      margin-bottom: 70px;
      &:last-child{
         margin: 0;
      }
   }
   &__item-title{
      font-size: 24px;
      line-height: 40px;
      @extend %rubik-500;
      color: $title;
      margin-bottom: 20px;
   }
   &__item-list{
      padding-left: 18px;
   }
   &__list-item{
      margin-bottom: 16px;
      padding-left: 6px;
      &:last-child{
         margin: 0;
      }
   }
}

/*------------------------------------------------*/
.about{
   font-size: 16px;
   line-height: 30px;
   @extend %rubik-400;
   color: $title;
   padding-top: 120px;
   &__mission{
      display: flex;
      align-items: center;
      margin-bottom: 120px;
   }
   &__mission-img{
      flex: 0 0 570px;
      margin-right: 45px;
   }
   &__mission-content{
      flex: 1 1 auto;
   }
   &__mission-time{
      display: flex;
      align-items: flex-end;
      margin-bottom: 20px;
   }
   &__mission-numb{
      font-size: 140px;
      line-height: 1;
      @extend %rubik-700;
      color: $buttons;
      margin-right: 20px;
   }
   &__mission-descr{
      max-width: 110px;
      padding-bottom: 15px;
   }
   &__mission-title{
      margin-bottom: 30px;
   }
   &__mission-text{
      margin-bottom: 60px;
   }
   &__mission-info{
      display: flex;
      position: relative;
      padding-top: 30px;
   }
   &__mission-info::after{
      content: "";
      position: absolute;
      width: 500px;
      height: 2px;
      background-color: #e6eaf0;
      left: 0;
      top: 0;
   }
   &__info-item{
      padding: 8px 25px 10px 65px;
      border-right: 1px solid #e6eaf0;
      position: relative;
      margin-right: 22px;
      &:last-child{
         border: none;
         margin: 0;
      }
   }
   &__info-item:nth-child(1)::before,
   &__info-item:nth-child(2)::before,
   &__info-item:nth-child(3)::before{
      content: "";
      position: absolute;
      width: 43px;
      height: 41px;
      left: 0;
      top: 18px;
      background-position: center;
      background-repeat: no-repeat;
   }
   &__info-item:nth-child(1)::before{
      background-image: url('../images/icons/mission-icon-1.svg');
   }
   &__info-item:nth-child(2)::before{
      background-image: url('../images/icons/mission-icon-2.svg');
   }
   &__info-item:nth-child(3)::before{
      background-image: url('../images/icons/mission-icon-3.svg');
   }
   &__info-numb{
      font-size: 36px;
      line-height: 38px;
      @extend %dmsans-700;
      color: $title;
      margin-bottom: 6px;
   }
   &__info-text{
      font-size: 16px;
      line-height: 18px;
      @extend %dmsans-700;
      color: #4c4c4c;
   }
}

/*------------------------------------------------*/
.progress{
   padding: 80px 0;
   background-color: $accent;
   &__inner{
      display: flex;
      justify-content: space-around;
      align-items: flex-end;
   }
   &__item{
      text-align: center;
   }
   &__item-icon{
      margin: 0 auto 16px;

   }
   &__item-numb{
      font-size: 36px;
      line-height: 1;
      @extend %dmsans-700;
      color: $title;
      margin-bottom: 10px;
   }
   &__item-text{
      font-size: 18px;
      line-height: 32px;
      @extend %dmsans-700;
      color: $title;
   }
}

/*------------------------------------------------*/
.team{
   font-size: 16px;
   line-height: 30px;
   @extend %rubik-400;
   color: $title;
   padding-top: 120px;
   &__inner{
      display: flex;
   }
   &__content{
      flex: 1 1 auto;
      margin-right: 90px;
   }
   &__title{
      margin-bottom: 20px;
   }
   &__text{
      margin-bottom: 35px;
   }
   &__link{
      display: inline-block;
      padding: 10px 60px 10px 15px;
      @extend %dmsans-500;
      border-radius: 5px;
      position: relative;
      &::after{
         content: "";
         position: absolute;
         width: 15px;
         height: 11px;
         right: 25px;
         top: 20px;
         background-image: url('../images/icons/arrow-btn-team.svg')
      }
   }
   &__images{
      flex: 0 0 770px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 40px 30px;
   }
   &__item{
      max-width: 370px;
      width: 100%;
   }
   &__item-img{
      display: block;
      height: 320px;
      width: 100%;
      object-fit: cover;
      overflow: hidden;
   }
   &__item-bottom{
      display: flex;
      justify-content: space-between;
      max-width: 325px;
      width: 100%;
      background-color: #fff;
      margin-top: -50px;
      padding: 26px 22px;
      position: relative;
      z-index: 2;
      box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
   }
   &__item-name{
      font-size: 22px;
      line-height: 26px;
      @extend %dmsans-700;
      color: #436372;
      transition: all .3s;
      &:hover{
         color: $title;
      }
   }
   &__item-position{
      color: #565872;
   }
   &__item-social{
      display: flex;
      align-items: center;
   }
   &__social-link{
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #f6f6f6;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 7px;
      transition: all .4s;
      &:hover{
         background-color: $buttons;
      }
   }
}

/*------------------------------------------------*/
.product{
   font-size: 16px;
   line-height: 30px;
   @extend %rubik-400;
   padding: 120px 0;
   &__inner{
      display: flex;
   }
   &__filters{
      min-width: 270px;
      margin-right: 30px;
   }
   &__content{
      width: 100%;
   }
   &__content-inner{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 30px;
      grid-row-gap: 40px;
      margin-bottom: 105px;
   }
   &__pagination{
      justify-content: center;
   }
}
.filter{
   &__item{
      margin-bottom: 55px;
      &:last-child{
         margin: 0;
      }
   }
   &__item-title{
      font-size: 18px;
      line-height: 22px;
      @extend %dmsans-700;
      text-transform: uppercase;
      color: $title;
      display: inline-block;
      padding-right: 55px;
      position: relative;
      margin-bottom: 25px;
      &::after{
         content: "";
         width: 38px;
         height: 2px;
         right: 0;
         top: 11px;
         background-color: $buttons;
         position: absolute;
      }
   }
}

/*filter-search*/
/*------------------------------------------------*/
.filter-search{
   &__form{
      border: 2px solid #ebf1f3;
      border-radius: 4px;
      display: flex;
      transition: all .3s;
      &:hover{
         border: 2px solid $buttons;
      }
   }
   &__input{
      border: none;
      height: 40px;
      padding: 0 5px;
      width: 100%;
   }
   &__btn{
      padding: 0;
      border: none;
      width: 46px;
      background-color: #ebf1f3;
      border-radius: 2px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: all .3s;
   }
}

/*filter-category*/
/*------------------------------------------------*/
.filter-category{
   &__label{
      display: block;
      cursor: pointer;
      margin-bottom: 2px;
      &:last-child{
         margin: 0;
      }
   }
   &__input{
      @extend %checkbox-hidden;
      &:checked + .filter-category__checkbox{
         background-color: #edf1f4;
      }
   }
   &__checkbox{
      padding: 6px 15px;
      border-radius: 5px;
      color: $title;
      position: relative;
      &::after{
         content: "";
         position: absolute;
         width: 5px;
         height: 10px;
         background-image: url('../images/icons/product-category-arrow.svg');
         top: 16px;
         right: 21px;
      }
   }
}

/*filter-price*/
/*------------------------------------------------*/
.filter-price{
   &__numb{
      padding: 20px 8px 20px 0;
      display: flex;
      justify-content: space-between;
   }
   &__numb-item{
      font-size: 14px;
      line-height: 18px;
      @extend %rubik-400;
      color: $title;
   }
}
.irs--flat .irs-line{
   top: 7px;
   height: 2px;
   background-color: #c2d2db;
   border-radius: 0;
}
.irs--flat .irs-handle {
   top: 0;
   width: 16px;
   height: 16px;
   background-color: #a3bbc8;
}
.irs--flat .irs-handle>i:first-child{
   display: none;
}
.irs--flat .irs-bar{
   top: 6px;
   height: 3px;
   background-color: #a3bbc8;
}
.irs--flat .irs-from,
.irs--flat .irs-to,
.irs--flat .irs-single{
   display: none;
}
.irs--flat .irs-min,
.irs--flat .irs-max{
   display: none;
}
.irs--flat{
   height: 16px;
}

/*filter-brand*/
/*------------------------------------------------*/
.filter-brand{
   &__label{
      display: block;
      cursor: pointer;
      margin-bottom: 2px;
      &:last-child{
         margin: 0;
      }
   }
   &__input{
      @extend %checkbox-hidden;
      &:checked + .filter-brand__checkbox{
         background-color: #edf1f4;
         color: $title;
      }
   }
   &__checkbox{
      padding: 6px 15px;
      border-radius: 5px;
      display: flex;
      justify-content: space-between;
   }
   &__checkbox-title{
      color: $title;
   }
}

/*recent products*/
/*------------------------------------------------*/
.recent{
   &__item{
      display: flex;
      align-items: center;
      margin-bottom: 24px;
      &:last-child{
         margin: 0;
      }
   }
   &__item-imgbox{
      width: 70px;
      height: 70px;
      border: 2px solid #f2f2f2;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 20px;
      &__item-img{
         object-fit: contain;
         overflow: hidden;
      }
   }
   &__item-content{
      color: #333333;
      @extend %rubik-400;
   }
   &__item-title{
      font-size: 14px;
      line-height: 16px;
      color: #333333;
      transition: all .2s;
      &:hover{
         color: $buttons;
      }
   }
   &__item-price{
      font-size: 15px;
      line-height: 26px;
   }
}
.star{
   margin-bottom: 3px;
   &.jq-ry-container{
      padding: 0; 
   }
}

/*filter-post*/
/*------------------------------------------------*/
.filter-post{
   &__item{
      display: flex;
      margin-bottom: 20px;
      &:last-child{
         margin: 0;
      }
   }
   &__imgbox{
      min-width: 71px;
      height: 71px;
      margin-right: 15px;
   }
   &__img{
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
   }
   &__title-link{
      display: block;
      font-size: 14px;
      line-height: 20px;
      @extend %rubik-400;
      color: #333333;
      margin-bottom: 5px;
      transition: all .2s;
      &:hover{
         color: $buttons;
      }
   }
   &__date{
      font-size: 12px;
      line-height: 20px;
      @extend %rubik-400;
      padding: 3px 0 0 20px;
      color: #9a9a9a;
      position: relative;
      text-transform: uppercase;
      transition: all .2s;
      &::before{
         content:"";
         position: absolute;
         width: 14px;
         height: 16px;
         top: 0;
         left: 0;
         background-image: url('../images/icons/calendar-grey.svg');
      }
   }
}

/*product-detail*/
/*------------------------------------------------*/
.product-detail{
   font-size: 16px;
   line-height: 30px;
   @extend %rubik-400;
   color: $title;
   &__title{
      font-size: 40px;
      line-height: 48px;
      @extend %rubik-400;
      color: #333333;
      margin-bottom: 12px;
   }
   &__star{
      margin-bottom: 22px;
      &.jq-ry-container{
         padding: 0;
      }
   }
   &__item-price{
      font-size: 30px;
      line-height: 44px;
      @extend %rubik-400;
      color: #333333;
      margin-bottom: 25px;
   }
   &__item-text{
      margin-bottom: 35px;
   }
   &__form{
      display: flex;
   }
   &__input{
      width: 150px;
      height: 50px;
      border: none;
      display: flex;
      justify-content: center;
      margin-bottom: 50px;
   }
   &__list-link{
      color: $title;
      transition: all .2s;
      &:hover{
         color: $buttons;
      }
   }
   &__item-btn{
      border: none;
      border-radius: 4px;
      font-size: 15px;
      line-height: 30px;
      @extend %rubik-400;
      text-transform: uppercase;
      cursor: pointer;
      padding: 10px 50px;
      position: relative;
      z-index: 1;
      &.product-detail__item-btn--active{
         position: relative;
         z-index: -1;
         opacity: 0;
         transform: translateX(100%);
      }   
   }
   &__item-buttons{
      margin-top: -50px;
      display: none;
      &.product-detail__item-buttons--active{
         display: flex;
      }
   }
}
.jq-number.product-detail__input{
   border: 1px solid $buttons;
   position: relative;
}
.jq-number__field{
   width: 50px;
   height: 100%;
   border-left: 1px solid $buttons;
   border-right: 1px solid $buttons;
}
.jq-number__field input{
   width: 100%;
   height: 100%;
   padding: 0;
   font-size: 16px;
   line-height: 30px;
   @extend %rubik-400;
   text-align: center;
}
.jq-number__spin{
   position: absolute;
   top: 0;
   right: 0;
   width: 50px;
   height: 100%;
   cursor: pointer;
   transition: all .2s;
   &:hover{
      background-color: #edf1f4;
   }
   &::after{
      content: "";
      position: absolute;
      width: 7px;
      height: 1px;
      top: 50%;
      left: 22px;
      background-color: #333333;
   }
}
.jq-number__spin.minus{
   left: 0;
}
.jq-number__spin.plus::before{
   content: "";
   position: absolute;
   width: 1px;
   height: 7px;
   left: 50%;
   top: 21px;
   background-color: #333333;
}
.icon-buttons{
   &__cart,
   &__like{
      padding: 0;
      border: none;
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
      cursor: pointer;
      &:hover{
         background-color: #edf1f4;
      }
      &.icon-buttons__cart--active,
      &.icon-buttons__like--active{
         background-color: $buttons;
         path{
            fill:#fff;
         }
      } 
   }
   &__like{
      margin-left: 10px;
   }
}
.product-detail__info{
   margin-right: 15px;
   display: none;
}
.product-detail.product-detail--alt .product-detail__info{
   display: block;
}

/*------------------------------------------------*/
.product-list{
   font-size: 16px;
   line-height: 30px;
   @extend %rubik-400;
   padding: 120px 0;
   &__inner{
      display: flex;
   }
   &__filters{
      min-width: 270px;
      margin-right: 30px;
   }
   &__content{
      width: 100%;
   }
   &__content-inner{
      margin-bottom: 105px;
   }
   &__item{
      display: flex; 
      align-items: center;
      margin-bottom: 40px;
   }
   &__item-imgbox{
      min-width: 370px;
      min-height: 500px;
      border: 1px solid #f2f2f2;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 55px;
      &__item-img{
         object-fit: cover;
      }
   }
}

/*------------------------------------------------*/
.product-one{
   padding-top: 120px;
}
.product-item{
   &__inner{
      display: flex;
      margin-bottom: 75px;
   }
   &__slide{
      min-width: 550px;
      margin-right: 70px;
   }
}
.product-slide{
   display: flex;
   .slick-vertical .slick-slide{
      height: 160px;
      border: none;
      margin-bottom: 25px;
  }
  .slick-slide img{
   display: block;
   max-height: 100%;
}
   &__vertical{
      width: 140px;
      margin-right: 24px;
   }
   &__vertical-item{
      height: 160px;
      cursor: pointer;
      border: 2px solid #f2f2f2;
      display: flex !important;
      justify-content: center;
      align-items: center;
   }
   &__big{
      width: 385px;
   }
   &__big-item{
      height: 530px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid #f2f2f2;
      display: flex !important;
      justify-content: center;
      align-items: center;
   }
}

/*------------------------------------------------*/
.product-tabs{
   font-size: 16px;
   line-height: 30px;
   @extend %rubik-400;
   color: $title;
   &__top{
      display: flex;
      justify-content: center;
   }
   &__top-link{
      font-size: 18px;
      line-height: 40px;
      @extend %rubik-500;
      color: $title;
      width: 240px;
      padding: 7px 0;
      margin: 0 5px;
      background-color: #edf1f4;
      border-radius: 5px;
      text-align: center;
      margin-bottom: 35px;
   }
   &__top-link--active{
      color: #fff;
      background-color: $buttons;
   }
   &__content-item{
      display: none;
   }
   &__content-item.product-tabs__content-item--active{
      display: block;
   }
}

/*------------------------------------------------*/
.related{
   padding-top: 110px;
  &__slider{
     margin-bottom: -15px;
  }
   &__title{
      text-align: left;
      margin-bottom: 60px;
   }
   &__slider-inner{
      margin: 0 -15px;
      button.slick-arrow{
         background-position: center;
         background-repeat: no-repeat;
         padding: 0;
         width: 50px;
         height: 50px;
         background-color: transparent;
         border: 2px solid #edf1f4;
         border-radius: 4px;
         font-size: 0;
         cursor: pointer;
         position: absolute;
         top: -115px;
         right: 15px;
         &:hover{
            border: 2px solid $buttons;
         }
      }
      button.slick-arrow.slick-disabled{
         background-color: #edf1f4;
         border: none;
      }
      button.slick-prev{
         background-image: url('../images/icons/related-prev.svg');
         right: 85px;
      }
      button.slick-next{
         background-image: url('../images/icons/related-next.svg');
      }
   }
   .slick-list{
      overflow: visible;
   }
   .slick-slide{
      margin: 0 15px;
      opacity: 0;
      transition: all .3s;
      &.slick-active{
         opacity: 1;
      }
   }
   .slick-track{
      padding: 15px 0;
   }
}

/*------------------------------------------------*/
.blog{
   font-size: 16px;
   line-height: 30px;
   @extend %rubik-400;
   color: $title;
   padding: 120px 0;
   &__inner{
      display: flex;
      justify-content: space-between;
   }
   &__content{
      width: 830px;
   }
   &__item{
      margin-bottom: 50px;
   }
   &__item-imgbox{
      min-width: 100%;
   }
   &__item-img{
      width: 100%;
      height: 501px;
      object-fit: cover;
   }
   &__item-top{
      position: relative;
      margin-bottom: 30px;
   }
   &__item-info{
      position: absolute;
      left: 0;
      bottom: 0;
   }
   &__item-title{
      margin-bottom: 25px;
      font-size: 36px;
      line-height: 42px;
      @extend %rubik-400;
      color: #333333;
   }
   &__item-link{
      display: inline-block;
      font-size: 15px;
      line-height: 1;
      @extend %rubik-500;
      color: $buttons;
      border: 2px solid $buttons;
      padding: 20px 80px 21px 20px;
      position: relative;
      transition: all .2s;
      margin-top: 30px;
      &::after{
         content: "";
         position: absolute;
         width: 22px;
         height: 9px;
         right: 20px;
         top: 24px;
         background-image: url('../images/icons/related-next.svg');
      }
      &:hover{
         border: 2px solid $title;
      }
   }
   &__pagination{
      margin-top: 75px;
   }

   &__aside{
      width: 270px;
   } 
}

/*------------------------------------------------*/
.blog-one{
   font-size: 16px;
   @extend %rubik-400;
   line-height: 30px;
   color: $title;
   &__content-top{
      margin-bottom: 40px;
      width: 100%;
   }
   &__top-box{
      position: relative;
      margin-bottom: 30px;
   }
   &__img{
      width: 100%;
      height: 501px;
      object-fit: cover;  
   }
   &__info{
      position: absolute;
      left: 0;
      bottom: 0;
   }
   &__top-title{
      font-size: 36px;
      line-height: 42px;
      @extend %rubik-400;
      color: #333333;
      margin-bottom: 25px;
   }
   &__top-subtitle{
      @extend %rubik-500;
      margin-bottom: 15px;
   }
   &__author{
      padding: 26px 0;
      border-top: 2px solid #ebebeb; 
      border-bottom: 2px solid #ebebeb;
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   &__author-info{
      display: flex;
   }
   &__author-info,
   &__author-contact{
      padding-right: 20px;
   }
   &__author-photo{
      width: 76px;
      height: 76px;
      object-fit: cover;
      margin-right: 26px;
   }
   &__author-name{
      padding-top: 10px;
   }
   &__name-link{
      font-size: 18px;
      line-height: 26px;
      @extend %rubik-400;
      color: #333333;
      transition: all .2s;
      &:hover{
         color: $buttons;
      }
   }
   &__author-position{
      color: #a1a1a1;
      line-height: 24px;
   }
   &__tags{
      color: #a1a1a1;
      line-height: 26px;
      margin-bottom: 6px;
      span{
         margin-right: 30px;
         color: #333333;
      }
      a{
         color: #a1a1a1;
      }
   }
   &__share{
      color: #333333;
      line-height: 26px;
      display: flex;
      a{
         display: flex;
         align-items: center;
         margin-left: 18px;
         transition: all .3s;
         &:hover{
            path{
               fill: #333333;
            }
         }
      }
   }
}
.blog-one__content-bottom{
   font-size: 16px;
   @extend %rubik-400;
   line-height: 30px;
   color: $title;
   blockquote{
      margin-bottom: 40px;
      padding: 20px 40px;
      background-color: #edf1f4;
      border-left: 5px solid $buttons;
      span{
         margin-top: 10px;
         display: block;
         padding-left: 40px;
         position: relative;
         &::after{
            content: "";
            position: absolute;
            width: 20px;
            height: 3px;
            background-color: $buttons;
            left: 0;
            top: 12px;
         } 
      }
   }
   .blog-one__left-img{
      float: left;
      margin-right: 30px;
   }
   .blog-one__right-img{
      float: right;
      margin-left: 30px;
   }
   h5{
      padding-top: 20px; 
      display: block;
      font-size: 18px;
      line-height: 30px;
      @extend %rubik-500;
      margin-bottom: 12px;
   }
   p{
      color: #565872;
      margin-bottom: 40px;
   } 
}
.comments{
   color: #565872;
   padding-top: 60px;
   &__title{
      font-size: 24px;
      line-height: 36px;
      @extend %rubik-700;
      color: #436372;
      margin-bottom: 20px;
   }
   &__item{
      display: flex;
      padding: 26px 0;
      &.comments__item--reply{
         border-top: 1px solid #e0e0e0;
         border-bottom: 1px solid #e0e0e0;
         max-width: 700px;
         margin-left: auto;
      }
   }
   &__item-img{
      width: 100px;
      height: 100px;
      object-fit: cover;
      margin-right: 30px;
   }
   &__item-top{
      margin-bottom: 16px;
      display: flex;
      justify-content: space-between;
   }
   &__item-name{
      font-size: 16px;
      line-height: 18px;
      @extend %rubik-700;
      color: #436372;
   }
   &__item-data{
      font-size: 14px;
      line-height: 16px;
      color: #a1a1a1;
   }
   &__item-text{
      margin-bottom: 15px;
   }
   &__item-btn{
      line-height: 20px;
      color: #516278;
      border: none;
      background: transparent;
      padding: 0 20px 0 0;
      cursor: pointer;
      position: relative;
      transition: all .3s;
      &::after{
         content: "";
         position: absolute;
         width: 11px;
         height: 13px;
         right: 0;
         top: 4px;
         background-image: url('../images/icons/blog-comment-arrow.svg')
      }
      &:hover{
         border-bottom: 1px solid #516278;
      }
   }
}
.comments-form{
   padding-top: 70px;
   &__title{
      font-size: 24px;
      line-height: 36px;
      @extend %rubik-700;
      color: #436372;
      margin-bottom: 40px;
   }
   &__box-input{
      display: flex;
      margin: 0 -15px;
   }
   &__name-box,
   &__mail-box,
   &__textarea-box{
      width: 100%;
      margin: 0 15px;
      position: relative;
      &::after{
         content: "";
         position: absolute;
         width: 18px;
         height: 15px;
         top: 20px;
         right: 20px;
         background-position: top right;
         background-repeat: no-repeat;
      }
   }
   &__name-box::after{
      background-image: url('../images/icons/blog-name-icon.svg');
   }
   &__mail-box::after{
      background-image: url('../images/icons/blog-mail.svg');
   }
   &__textarea-box{
      margin: 20px 0 38px;
      height: 120px;
      &::after{
         background-image: url('../images/icons/blog-comment.svg');
      }
   }
   &__text-input,
   &__textarea{
      display: block;
      width: 100%;
      border: 1px solid #e5e5e5;
      border-radius: 0;
      outline: transparent;
      background-color: transparent;
      padding: 10px 50px 10px 20px;
      &::placeholder{
         color: #999999;
      }
      &:focus{
         border: 1px solid $buttons;
         &::placeholder{
            color: #333333;
         }
      }
   }
   &__textarea{
      height: 100%
   }
   &__btn{
      padding: 10px 35px;
      text-transform: uppercase;
      border: none;
   }
}

/*------------------------------------------------*/
.contact{
   font-size: 16px;
   @extend %rubik-400;
   line-height: 30px;
   color: #565872;
   padding-top: 110px;
   &__top{
      margin-bottom: 120px;
      text-align: center;
   }
   &__suptitle{
      font-size: 16px;
      line-height: 20px;
      @extend %poppins-700;
      color: $buttons;
      margin-bottom: 15px;
   }
   &__title{
      font-size: 35px;
      line-height: 57px;
      @extend %dmsans-700;
      color: $logo;
      margin-bottom: 70px;
   }
   &__top-inner{
      display: flex;
      margin: 0 -15px;
   }
   &__top-item{
      margin: 0 15px;
      flex: 1 1 33.333%;
      background-color: #fbfbfb;
      padding: 68px 10px;
      min-height: 385px;
      border: 2px solid rgba(163, 187, 200, 0);
      transition: all .3s;
      &:hover{
         border: 2px solid rgba(163, 187, 200, 1);
         .contact__top-imgbox{
            background-color: $buttons;
         }
         path{
            fill: #fff;
         }
      }
   }
   &__top-imgbox{
      width: 80px;
      height: 80px;
      background-color: #fff;
      border-radius: 14px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto 60px;
      box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
      transition: all .3s;
   }
   &__item-title{
      font-size: 20px;
      line-height: 26px;
      @extend %dmsans-700;
      color: #222222;
      margin-bottom: 20px;
   }
   &__item-mail,
   &__item-phone{
      display: inline-block;
      color: inherit;
      transition: all .3s;
      &:hover{
         color: $buttons;
      }
   }
   &__bottom{
      margin-bottom: 10px;
      display: flex;
   }
   &__form{
      width: 100%;
   }
   &__map{
      max-width: 500px;
      width: 100%;
      height: 335px;
      margin-left: 50px;
   }
   #map{
      width: 100%;
      height: 100%;
   }
   &__form-inputs{
      display: flex;
      justify-content: space-between;
   }
   &__form-name,
   &__form-mail{
      width: 300px;
      height: 50px;
   }
   &__text-input,
   &__textarea{
      display: block;
      background-color: #fbfbfb;
      padding: 10px 50px 10px 20px;
      width: 100%;
      height: 100%;
      border: none;
      outline: transparent;
      color: #222222;
      &::placeholder{
         text-transform: uppercase;
         color: #565872;
      }
      &:focus{
         border: 1px solid $buttons;
         &::placeholder{
            color: #222222;
         }
      }
   }
   &__textarea{
      height: 100%
   }
   &__form-name,
   &__form-mail,
   &__textarea-box{
      position: relative;
      &::after{
         content: "";
         position: absolute;
         width: 18px;
         height: 15px;
         top: 20px;
         right: 20px;
         background-position: top right;
         background-repeat: no-repeat;
      }
   }
   &__form-name::after{
      background-image: url('../images/icons/blog-name-icon.svg');
   }
   &__form-mail::after{
      background-image: url('../images/icons/blog-mail.svg');
   }
   &__textarea-box{
      height: 175px;
      margin: 25px 0 30px;
      &::after{
         background-image: url('../images/icons/blog-comment.svg');
      }
   }
   &__form-btn{
      border: none;
      font-size: 15px;
      line-height: 20px;
      text-transform: uppercase;
      padding: 15px 44px;
      border-radius: 4px;
   }
}
 


/*------------------------------------------------*/
@import 'media';