@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

/*------------------------------------------------*/
.header{
   &__inner{
      max-width: 1800px;
      margin: 0 auto;
      padding: 47px 15px 45px;
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
}

.menu{
   &__list{
      display: flex;
   }
   &__list-item + .menu__list-item{
      margin-left: 35px;
   }
   &__list-link{
      font-size: 15px;
      color: $logo;
      @extend %rubik-500;
   }
}

.user-nav{
   display: flex;
   &__search{
      width: 50px;
      height: 50px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #edf1f4;
   }

   &__inner{
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      width: 180px;
      height: 50px;
      background-color: $accent;
      border-radius: 25px;
      padding: 10px 40px;
      margin: 0 20px;
      position: relative;
   }

   &__inner::before{
      content: '';
      width: 1px;
      height: 30px;
      background-color: #fde7d3;
      position: absolute;
      left: 50%;
      top: center;
   }

   &__heart,
   &__cart{
      position: relative;
      padding-bottom: 3px;
   }

   &__numb{
      position: absolute;
      width: 16px;
      height: 16px;
      background-color: #fff;
      border-radius: 50%;
      font-size: 10px;
      line-height: 16px;
      text-align: center;
      color: $title;
      top: -10px;
      right: -8px;
   }

   &__tel{
      width: 50px;
      height: 50px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #a3bbc8;
   }
}

/*------------------------------------------------*/
.footer a{
   display: inline-block;
   color: $default;
   @extend %rubik-400;
}

.footer-top{
   padding: 75px 0;
   display: flex;
   border-bottom: 1px solid #dae4e9;
   &__title{
      font-size: 16px;
      line-height: 21px;
      @extend %dmsans-700;
      text-transform: uppercase;
      color: #1f2044;
      margin: 16px 0 20px;
   }
   &__contact{
      width: 195px;
      margin-right: 100px;
   }
   &__services{
      width: 130px;
      margin-right: 175px;
   }
   &__account{
      width: 130px;
      margin-right: auto;
   }
   &__news{
      width: 270px;
   }
   &__link{
      margin-bottom: 10px;
   }
   &__news-subscr{
      margin-bottom: 35px;
   }
   &__news-form{
      display: flex;
   }
   &__input{
      padding: 0 15px;
      border: none;
      background: #fef7f0;
      max-width: 170px;
      height: 38px;
      font-size: 12px;
      line-height: 38px;
   }
   &__input::placeholder{
      color: #234969;
   }
   &__button{
      border: none;
      padding: 0;
      background: $buttons;
      width: 100px;
      height: 38px;
      color: #fff;
      cursor: pointer;
   }
}

.footer-logo{
   display: block;
   margin-bottom: 11px;
}

.footer-bottom{
   height: 90px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   &__nav{
      display: flex;
   }
   &__nav-item{
      line-height: 16px;
   }
   &__nav-item + .footer-bottom__nav-item{
      padding-left: 15px;
      margin-left: 15px;
      border-left: 1px solid $default;
   }
}

/*------------------------------------------------*/
.intro-slider{
   background-color: $accent;
   &__inner{
      height: 100vh;
      background-image: url('../images/intro-slider-bg.png');
      background-repeat: no-repeat;
      background-position: right;
      position: relative;
   }
   &__container{
      max-width: 1430px;
      padding: 0 15px;
      margin: 0 auto;
   }
   &__item-inner{
      display: flex;
      justify-content: space-between;
      padding: 210px 115px 0;
   }
   &__content{
      width: 500px;
   }
   &__title{
      font-size: 72px;
      line-height: 78px;
      text-transform: uppercase;
      color: $title;
      @extend %rubik-500;
      margin-bottom: 35px;
   }
   &__text{
      width: 370px;
      font-size: 18px;
      line-height: 30px;
      @extend %rubik-400;
      color: $logo;
      margin-bottom: 35px;
   }
   &__link{
      display: flex;
      align-items: center;
      font-size: 15px;
      @extend %rubik-500;
      color: #fff;
      background-color: $buttons;
      width: 200px;
      height: 60px;
      padding: 0 16px 0 26px;
      position: relative;
   }
   &__link::after{
      content: '';
      width: 22px;
      height: 9px;
      background-image: url('../images/icons/arrow-btn.svg');
      position: absolute;
      top: center;
      right: 16px;
   }
   .slick-dots{
      display: flex;
      justify-content: center;
      position: absolute;
      left: 50%;
      right: 50%;
      bottom: 75px;
      li{
         line-height: 0;
         padding: 0 6px;
         button{
            padding: 0;
            border: none;
            width: 28px;
            height: 28px;
            border-radius: 50%;
            background-color: #fde3cc;
            font-size: 11px;
            @extend %rubik-500;
            color: #667983;
         }
         &.slick-active{
            button{
               background-color: #fff;
               color: $title;
            }
         }
      }
   }
}

/*------------------------------------------------*/
.products{
   &__info{
      display: flex;
      background-color: #fef7f0;
   }
   &__info-item{
      flex: 1 1 33.333%;
      padding: 35px 15px 30px;
      display: flex;
      justify-content: center;
      align-items: flex-start;
   }
   &__info-item + .products__info-item{
      border-left: 1px solid #e8e4df;
   }
   &__info-icon{
      padding-top: 5px;
      margin-right: 24px;
   }
   &__info-content{
      width: 220px;
   }
   &__info-title{
      font-size: 18px;
      color: #414141;
      @extend %dmsans-700;
      margin-bottom: 8px;
   }
   &__info-text{
      font-size: 16px;
      line-height: 30px;
      @extend %dmsans-400;
      color: #585858;
   }

   &__gallery{
      padding: 70px 0;
   }
   &__gallery-title{
      margin-bottom: 35px;
   }
   &__gallery-buttons{
      margin-bottom: 75px;
   }
   &__gallery-items{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 380px);
      grid-row-gap: 40px;
      grid-column-gap: 30px;
   }
   &__gallery-item{
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width: 270px;
      padding: 20px 5px 35px;
      text-align: center;
      box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
      position: relative;
   }
   &__item-top{
      display: flex;
      justify-content: center;
      align-items: flex-end;
      margin-bottom: 60px;
   }
   &__item-title{
      margin-bottom: 5px;
   }
   &__item-link{
      display: inline-block;
      font-size: 16px;
      color: $title;
      @extend %dmsans-500;
   }
   &__item-price{
      font-size: 16px;
      @extend %dmsans-700;
      color: #a3bbc8;
   }
   &__item-hover{
      height: 44px;
      display: flex;
      justify-content: center;
      position: absolute;
      top: 160px;
      left: 0;
      right: 0;
   }
   &__item-hover-link{
      width: 44px;
      height: 44px;
      border-radius: 50%;
      margin: 0 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
      opacity: 0;
      transition: all .6s;
   }
   &__item-hover-link:nth-child(1){
      background-color: #fefefe;
      transform: translateX(100%);
      z-index: 1;
   }
   &__item-hover-link:nth-child(2){
      background-color: $buttons;
      z-index: 3;
   }
   &__item-hover-link:nth-child(3){
      transform: translateX(-100%);
      background-color: #fefefe;
      z-index: 2;
   }
   &__gallery-item:hover .products__item-hover-link{
      position: relative;
      transform: none;
      opacity: 1;
   }
}

.lamps{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: minmax(390px, auto);
   grid-gap: 30px;
   margin-bottom: 30px;
   padding-top: 120px;
   &__item{
      background-color: #feefe2;
      display: flex;
      justify-content: right;
      align-items: center;
      padding: 10px 145px 10px 10px;
      position: relative;
   }
   &__item-image{
      position: absolute;
      left: 135px;
      bottom: 85px;
   }
   &__item-content{
      color: $title;
      max-width: 335px;
   }
   &__item-title{
      font-size: 26px;
      line-height: 32px;
      @extend %dmsans-700;
      margin-bottom: 15px;
   }
   &__item-descr{
      font-size: 16px;
      line-height: 30px;
      @extend %rubik-400;
      margin-bottom: 35px;
   }
   &__item-link{
      font-size: 15px;
      @extend %rubik-500;
      color: $logo;
      display: inline-block;
      padding: 0 18px;
      display: flex;
      justify-content: left;
      align-items: center;
      width: 180px;
      height: 60px;
      border: 1px solid rgb(67, 99, 114, 0.4);
      border-radius: 5px;
      position: relative;
   }
   &__item-link::after{
      content: '';
      position: absolute;
      width: 22px;
      height: 9px;
      background-image: url('../images/icons/arrow-btn-blue.svg');
      top: auto;
      right: 18px;
   }
}

.design{
   padding-top: 70px;
   margin-bottom: 120px;
   &__title{
      margin-bottom: 35px;
   }
   &__gallery-buttons{
      margin-bottom: 75px;
   }
   &__gallery{
      display: grid;
      grid-template-columns: repeat(3, 370px);
      grid-template-rows: repeat(2, 246px);
      grid-column-gap: 30px;
      grid-row-gap: 34px;
   }
   &__gallery-item{
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      padding: 35px; 
   }
   &__gallery-title{
      font-size: 20px;
      line-height: 26px;
      @extend %dmsans-700;
      color: $title-accent;
      max-width: 175px;
      margin-bottom: 10px;
   }
   &__gallery-subtitle{
      font-size: 16px;
      line-height: 22px;
      @extend %dmsans-700;
      color: $buttons;
   }
}

@import 'media';
 